In [1]:
import pandas as pd
estudiantes={'Nombre':['Luis','Manuel','David','Mary'],
             'Edad':[15,16,19,20],
             'Calificacion':[3.5,4.4,5,2.3]}
df_estudiantes=pd.DataFrame(estudiantes)
df_estudiantes = df_estudiantes.rename(columns={'Calificacion': 'Nota_Final'})
print(df_estudiantes)

   Nombre  Edad  Nota_Final
0    Luis    15         3.5
1  Manuel    16         4.4
2   David    19         5.0
3    Mary    20         2.3

## 游닂 An치lisis b치sico del DataFrame

#### **Inspeccionar tipos de datos, nulos y memoria**

`df.info()`

#### **Estad칤sticas descriptivas (media, min, max, etc.)**

`df.describe()`

 #### **Dimensiones del DataFrame (filas, columnas)**

print(df.shape)

## Ejemplo Pr치ctico con DataFrame ##

<p align="justify">
Usaremos un DataFrame de ejemplo con datos de ventas que incluyen algunos valores nulos para simular un dataset real. Exploramos para identificar tipos, estad칤sticas y tama침o, lo que ayuda a detectar issues como nulos en 'Precio_Unitario'.
</p>

In [2]:
# Crear DataFrame de ejemplo con datos mixtos y nulos
data_ventas = {
    'Producto': ['A', 'B', 'C', 'D'],
    'Unidades': [100, 200, None, 150],
    'Precio_Unitario': [50.0, 75.0, 60.0, None]
}
df_ventas = pd.DataFrame(data_ventas)

# Exploraci칩n r치pida
print("Informaci칩n general:")
df_ventas.info()

print("\nEstad칤sticas descriptivas:")
print(df_ventas.describe())

print("\nDimensiones (filas, columnas):")
print(df_ventas.shape)

Informaci칩n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Producto         4 non-null      object
 1   Unidades         3 non-null      float64
 2   Precio_Unitario  3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes

Estad칤sticas descriptivas:
       Unidades  Precio_Unitario
count       3.0         3.000000
mean      150.0        61.666667
std        50.0        12.583057
min       100.0        50.000000
25%       125.0        55.000000
50%       150.0        60.000000
75%       175.0        67.500000
max       200.0        75.000000

Dimensiones (filas, columnas):
(4, 3)

**Ejercicio de Aplicai칩n (datos alumnos)**
<p align="justify">
Usa el df_estudiantes que creaste en el ejercicio anterior (con columnas 'Nombre', 'Edad', 'Nota_Final'). Aplica las funciones de exploraci칩n: muestra la salida de df_estudiantes.info(), luego df_estudiantes.describe() y finalmente print(df_estudiantes.shape). Ejecuta tu c칩digo completo (incluyendo la creaci칩n del DataFrame) en tu entorno Python y comparte tanto el c칩digo como el output completo aqu칤 para confirmar que lo has completado antes de pasar al siguiente tema.
</p>

**OUTPUT ESPERADO**
```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype  
---  ------      --------------  -----  
 0   Nombre      4 non-null      object
 1   Edad        4 non-null      int64  
 2   Nota_Final  4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 228.0+ bytes
Dimensiones: (4, 3)
```

# 1.-Concepto de Data Science
La selecci칩n y filtrado condicional en Pandas utilizan m치scaras booleanas para seleccionar subconjuntos de datos basados en condiciones l칩gicas. Son cruciales en Data Wrangling porque permiten aislar registros espec칤ficos, detectar errores o anomal칤as (como valores fuera de rango) y enfocar el an치lisis en datos relevantes, mejorando la eficiencia en la preparaci칩n de datasets grandes.

## Sitanxis

M치scara booleana simple (condici칩n sobre una columna)

`mascara = df['columna'] > valor`

 Filtrado: aplicar la m치scara al DataFrame

`df_filtrado = df[mascara]`

 Condiciones m칰ltiples: usar & (AND), | (OR), ~ (NOT)

`df_filtrado = df[(df['col1'] > val1) & (df['col2'] == val2)]`

### Ejemplo Practico

Usaremos un DataFrame de ventas con variaciones en precios y unidades para filtrar productos con ventas altas (unidades > 150) o precios bajos (< 60), resolviendo el problema de aislar datos de inter칠s para un an치lisis focalizado, como identificar best-sellers o descuentos.

In [3]:
import pandas as pd

# Crear DataFrame de ejemplo
data_ventas = {
    'Producto': ['A', 'B', 'C', 'D'],
    'Unidades': [100, 200, 150, 180],
    'Precio': [50.0, 75.0, 55.0, 65.0]
}
df_ventas = pd.DataFrame(data_ventas)

# Filtrado simple: unidades > 150
mascara_alta_venta = df_ventas['Unidades'] > 150
df_alta_venta = df_ventas[mascara_alta_venta]

# Filtrado m칰ltiple: unidades > 150 O precio < 60
df_interes = df_ventas[(df_ventas['Unidades'] > 150) | (df_ventas['Precio'] < 60)]

# Mostrar resultados
print("Filtrado simple (unidades > 150):")
print(df_alta_venta)

print("\nFiltrado m칰ltiple (unidades > 150 O precio < 60):")
print(df_interes)

Filtrado simple (unidades > 150):
  Producto  Unidades  Precio
1        B       200    75.0
3        D       180    65.0

Filtrado m칰ltiple (unidades > 150 O precio < 60):
  Producto  Unidades  Precio
0        A       100    50.0
1        B       200    75.0
2        C       150    55.0
3        D       180    65.0

#### Ejercicio de Aplicacion
Usa el df_estudiantes de ejercicios anteriores (con columnas 'Nombre', 'Edad', 'Nota_Final'). Crea un sub-DataFrame llamado df_mayores filtrando solo los estudiantes con Edad >= 18. Luego, crea otro sub-DataFrame llamado df_aprobados filtrando aquellos con Nota_Final > 3.0 Y Edad < 20 (usa condiciones m칰ltiples con &). Muestra ambos con print(df_mayores) y print(df_aprobados). Ejecuta tu c칩digo completo (incluyendo la creaci칩n del DataFrame original) en tu entorno Python y comparte tanto el c칩digo como el output completo aqu칤 para confirmar que lo has completado antes de pasar al siguiente tema.

##### OUTPUT ESPERADO

```
Estudiantes Mayores de edad
   Nombre  Edad  Nota_Final
2  David    19         5.0
3   Mary    20         2.3
Estudiantes Aprobados
    Nombre  Edad  Nota_Final
0    Luis    15         3.5
1  Manuel    16         4.4
2   David    19         5.0
```

# 2.-Concepto Data Science(dropna)(fillna)
El manejo de valores nulos en Pandas con dropna() y fillna() es esencial para limpiar datasets incompletos. Son cruciales en Data Wrangling porque los nulos pueden distorsionar an치lisis; dropna() elimina filas/columnas con nulos para datos limpios, mientras fillna() los reemplaza (con medias, ceros, etc.) para preservar m치s informaci칩n y evitar sesgos en modelos o res칰menes.

## Sintaxis
Eliminar filas con al menos un nulo (axis=0 por default)

`df_limpio = df.dropna()`

 Eliminar columnas con nulos

`df_limpio = df.dropna(axis=1)`

Rellenar nulos con un valor espec칤fico (e.g., 0)

`df_rellenado = df.fillna(0)`

Rellenar con media de la columna

`df_rellenado = df.fillna(df.mean(numeric_only=True))`

### Ejemplo Pra치ctico con Dataframe

Usaremos un DataFrame de ventas con nulos en 'Unidades' y 'Precio' para simular datos reales incompletos. Aplicamos dropna() para eliminar filas inv치lidas y fillna() para rellenar con medias, resolviendo el problema de preparaci칩n para an치lisis sin perder todo el dataset.

#### Output Esperado
(medias: Unidades=(100+150+200)/3=150, Precio=(50+75+60)/3=61.666...):

In [7]:
# Crear DataFrame con nulos
data_ventas = {
    'Producto': ['A', 'B', 'C', 'D'],
    'Unidades': [100, None, 150, 200],
    'Precio': [50.0, 75.0, None, 60.0]
}
df_ventas = pd.DataFrame(data_ventas)

# Eliminar filas con nulos
df_sin_nulos = df_ventas.dropna()

# Rellenar nulos con la media de cada columna num칠rica
df_rellenado = df_ventas.fillna(df_ventas.mean(numeric_only=True))

# Mostrar resultados
print("Original con nulos:")
print(df_ventas)

print("\nSin nulos (dropna):")
print(df_sin_nulos)

print("\nRellenado con medias (fillna):")
print(df_rellenado)

Original con nulos:
  Producto  Unidades  Precio
0        A     100.0    50.0
1        B       NaN    75.0
2        C     150.0     NaN
3        D     200.0    60.0

Sin nulos (dropna):
  Producto  Unidades  Precio
0        A     100.0    50.0
3        D     200.0    60.0

Rellenado con medias (fillna):
  Producto  Unidades     Precio
0        A     100.0  50.000000
1        B     150.0  75.000000
2        C     150.0  61.666667
3        D     200.0  60.000000

# Ejercicio de Aplicaci칩n
Modifica tu df_estudiantes original agregando nulos: cambia la Nota_Final de 'Manuel' a None y la Edad de 'Mary' a None. Crea df_sin_nulos usando dropna() para eliminar filas con nulos. Luego, crea df_rellenado usando fillna() para rellenar nulos con la media de las columnas num칠ricas (usa mean(numeric_only=True)). Muestra los tres DataFrames con print("Original modificado:\n", df_estudiantes), print("Sin nulos:\n", df_sin_nulos) y print("Rellenado:\n", df_rellenado). Ejecuta tu c칩digo completo (incluyendo creaci칩n y renombrado inicial) en tu entorno Python y comparte tanto el c칩digo como el output completo aqu칤 para confirmar que lo has completado antes de pasar al siguiente tema.

In [18]:
#Modificar para agregar nulos
df_estudiantes.loc[df_estudiantes['Nombre']=="Manuel","Nota_Final"]=None
df_estudiantes.loc[df_estudiantes['Nombre']=='Mary',"Edad"]=None
# --------------------------
# Crear df_sin_nulos dropna()
# --------------------------
df_sin_nulos1=df_estudiantes.dropna()

# --------------------------
# Crear df_rellenado fillna()
# Rellenados con la mediana
# --------------------------
df_rellenado1=df_estudiantes.fillna(df_estudiantes.median(numeric_only=True))

# Mostrar resultados
print("Original modificado:\n", df_estudiantes)
print("Sin nulos(dropna):\n", df_sin_nulos1)
print("Rellenado(fillna):\n", df_rellenado1)

Original modificado:
    Nombre  Edad  Nota_Final
0    Luis  15.0         3.5
1  Manuel  16.0         NaN
2   David  19.0         5.0
3    Mary   NaN         2.3
Sin nulos(dropna):
   Nombre  Edad  Nota_Final
0   Luis  15.0         3.5
2  David  19.0         5.0
Rellenado(fillna):
    Nombre  Edad  Nota_Final
0    Luis  15.0         3.5
1  Manuel  16.0         3.5
2   David  19.0         5.0
3    Mary  16.0         2.3

# 3.- Concepto DataScience (Columnas)
La creaci칩n de nuevas columnas en Pandas mediante vectorizaci칩n permite calcular m칠tricas derivadas de columnas existentes de forma eficiente sin bucles. Es crucial en Data Wrangling porque transforma datos crudos en features m치s 칰tiles para an치lisis, como ratios o categor칤as, optimizando el rendimiento en datasets grandes al usar operaciones vectorizadas de NumPy subyacentes.

## Sitaxis
 Nueva columna simple: operaci칩n aritm칠tica

`df['nueva_col'] = df['col1'] + df['col2']`

 Usando funciones: apply() para l칩gica compleja (pero preferir vectorizaci칩n)

`df['nueva_col'] = df['col1'].apply(lambda x: x * 2 if x > 0 else 0)`

 Condicionales vectorizadas: np.where() o operaciones booleanas
import numpy as np

`df['nueva_col'] = np.where(df['col1'] > valor, 'Alto', 'Bajo')`

### Ejemplo
Usaremos un DataFrame de ventas para crear una nueva columna 'Ingreso_Total' (Unidades * Precio) y otra 'Categoria_Precio' basada en umbrales, resolviendo el problema de generar m칠tricas derivadas para an치lisis como rentabilidad o segmentaci칩n.
python

In [31]:
#Datos de ventas
import pandas as pd
import numpy as np
# Crear DataFrame de ejemplo
data_ventas = {
    'Producto': ['A', 'B', 'C'],
    'Unidades': [100, 200, 150],
    'Precio': [50.0, 75.0, 60.0]
}
df_ventas1=pd.DataFrame(data_ventas)
#Nuvea columna vectorizada: Ingreso_total=Unidades*precio
df_ventas1['Ingreso_Total']=df_ventas1['Unidades']*df_ventas1['Precio']
#Nueva columna vectorizada: Categoria_Precio basada en Precio>60
df_ventas1['Categoria_Precio']=np.where(df_ventas1['Precio']>60,'Alto','Bajo')
print(df_ventas1)

  Producto  Unidades  Precio  Ingreso_Total Categoria_Precio
0        A       100    50.0         5000.0             Bajo
1        B       200    75.0        15000.0             Alto
2        C       150    60.0         9000.0             Bajo

# Ejercicio de Aplicaci칩n
Usa tu df_estudiantes modificado del ejercicio anterior (con nulos ya rellenados o manejados, pero recrea el original sin nulos para simplicidad: 'Nombre': ['Luis','Manuel','David','Mary'], 'Edad': [15,16,19,20], 'Nota_Final': [3.5,4.4,5,2.3]). Crea una nueva columna 'Edad_Ajustada' sumando 1 a cada 'Edad' (vectorizaci칩n simple). Luego, crea 'Estado_Aprobacion' usando np.where() para 'Aprobado' si 'Nota_Final' >= 3.0, sino 'Reprobado'. Muestra el DataFrame final con print(df_estudiantes). Ejecuta tu c칩digo completo (incluyendo creaci칩n y renombrado inicial) en tu entorno Python y comparte tanto el c칩digo como el output completo aqu칤 para confirmar que lo has completado antes de pasar al siguiente tema.

In [37]:
#Respuesta
df_rellenado1

#----------------
# Edad Ajustada
#----------------
df_rellenado1['Edad_Ajustada']=df_rellenado1['Edad']+1
#----------------
# Estado de aprobacion
#----------------
df_rellenado1['Estado_Aprobacion']=np.where(df_rellenado1['Nota_Final']>=3,'Aprobado','Reprobado')
print(df_rellenado1)

   Nombre  Edad  Nota_Final  Edad_Ajustada Estado_Aprobacion
0    Luis  15.0         3.5           16.0          Aprobado
1  Manuel  16.0         3.5           17.0          Aprobado
2   David  19.0         5.0           20.0          Aprobado
3    Mary  16.0         2.3           17.0         Reprobado

# 4.- Concepto DataScience
La agrupaci칩n y agregaci칩n en Pandas con groupby() permiten resumir datos por categor칤as, calculando m칠tricas como sumas, medias o conteos. Son clave en Data Wrangling porque transforman datos granulares en insights agregados, facilitando an치lisis como promedios por grupo o detecci칩n de patrones en subconjuntos, esenciales para reportes o modelado.

##Sintaxis
Agrupar por una columna y agregar (e.g., media)

`df_agrupado = df.groupby('columna_categoria')['columna_numerica'].mean()`

Agregaciones m칰ltiples: usar agg() con diccionario

```
df_agrupado = df.groupby('columna_categoria').agg({
    'col_numerica1': 'sum',
    'col_numerica2': ['mean', 'count']
})
```
Resetear 칤ndice para DataFrame plano

`df_agrupado = df_agrupado.reset_index()`

#### Ejercicio Practico
Usaremos un DataFrame de ventas por regi칩n para agrupar por 'Region' y calcular total de unidades vendidas y precio promedio, resolviendo el problema de resumir datos dispersos para an치lisis regional como identificaci칩n de mercados fuertes.

In [42]:
import pandas as pd
data_ventas = {
    'Producto': ['A', 'B', 'A', 'C', 'B'],
    'Region': ['Norte', 'Sur', 'Norte', 'Este', 'Sur'],
    'Unidades': [100, 200, 150, 120, 180],
    'Precio': [50, 75, 55, 60, 70]
}
df_ventas = pd.DataFrame(data_ventas)

#Agrupar por "Region" y agregar: suma de unidades,media de precio
df_resumen=df_ventas.groupby('Region').agg({
    'Unidades':'sum',
    'Precio':'mean'
}).reset_index()
print("Df de datos\n",df_ventas)
print("Df de goupby\n",df_resumen)

Df de datos
   Producto Region  Unidades  Precio
0        A  Norte       100      50
1        B    Sur       200      75
2        A  Norte       150      55
3        C   Este       120      60
4        B    Sur       180      70
Df de goupby
   Region  Unidades  Precio
0   Este       120    60.0
1  Norte       250    52.5
2    Sur       380    72.5

# Ejercicio Aplicacion
Crea un nuevo DataFrame llamado df_empleados con al menos 6 filas: columnas 'Nombre' (strings), 'Departamento' (e.g., 'Ventas', 'IT', 'HR' repetidos), 'Salario' (flotantes entre 2000-5000) y 'Antiguedad' (enteros 1-10). Agrupa por 'Departamento' y calcula con agg(): media de 'Salario' y suma de 'Antiguedad'. Almacena en df_resumen_dept y resetea el 칤ndice. Muestra con print(df_resumen_dept). Ejecuta tu c칩digo completo en tu entorno Python y comparte tanto el c칩digo como el output completo aqu칤 para confirmar que lo has completado antes de pasar al siguiente tema.

In [57]:
import pandas as pd
empleados={
    'Nombre':['Oscar','Vale','Gaby','Nico','Mel','Pedro'],
    'Departamento':['Ventas','IT','RRHH','RRHH','Ventas','Ventas'],
    'Salario':[2000,2100,3000,2990,4990,3750],
    'Antiguedad':[1,3,6,4,10,2]
}
df_empleados=pd.DataFrame(empleados)
df_resumen_dept=df_empleados.groupby('Departamento').agg({
    'Salario':'mean',
    'Antiguedad':'sum'
}).reset_index()

print('\033[1mDatos empleados:\033[0m\n',df_empleados)
print('\033[1mResumen departamento:\033[0m\n',df_resumen_dept)

Datos empleados:
   Nombre Departamento  Salario  Antiguedad
0  Oscar       Ventas     2000           1
1   Vale           IT     2100           3
2   Gaby         RRHH     3000           6
3   Nico         RRHH     2990           4
4    Mel       Ventas     4990          10
5  Pedro       Ventas     3750           2
Resumen departamento:
   Departamento  Salario  Antiguedad
0           IT   2100.0           3
1         RRHH   2995.0          10
2       Ventas   3580.0          13